.container {
    width: 500px;
    height: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-text {
    color: white;
}

/* Media Queries */
@media screen and (max-width: 420px) {
    .container {
        background-color: gray; /* cinza */
    }
    .color-text::after {
        content: 'cinza';
    }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
    .container {
        background-color: orange; /* laranja */
    }
    .color-text::after {
        content: 'laranja';
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        background-color: pink; /* rosa */
    }
    .color-text::after {
        content: 'rosa';
    }
}

@media screen and (min-width: 1025px) and (max-width: 1080px) {
    .container {
        background-color: red; /* vermelho */
    }
    .color-text::after {
        content: 'vermelho';
    }
}

@media screen and (min-width: 1081px) and (max-width: 1366px) {
    .container {
        background-color: purple; /* roxo escuro */
    }
    .color-text::after {
        content: 'roxo escuro';
    }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    .container {
        background-color: yellow; /* amarelo */
    }
    .color-text::after {
        content: 'amarelo';
    }
}

@media screen and (min-width: 1921px) {
    .container {
        background-color: green; /* verde */
    }
    .color-text::after {
        content: 'verde';
    }
}
